@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  background-color: #FDEBED;
}

* {
  margin: 0;
  padding: 0;
}
.navbar{
  font-family: 'Righteous', cursive;
  height: auto;
  background-color: #D9ACF5;
}

.navbar ul {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.img-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: inherit;
}

.wrap-teros {
  margin-bottom: 56px;
}

.wrapper {
  width: 80%;
  height: 100vh;
  padding: 0 20px;
  background-color: #AAE3E2;
  position: relative;
  left: 8.5%;
}

.choose-wrap {
  position:relative;
  display: flex;
  justify-content: space-around;
  font-family: 'Righteous', cursive;
  line-height: 40px;
}

#result {
  font-family: 'Carter One', cursive;
  text-align: center;
}

.pop-up {
  width: 100%;
  height: 110vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
}

.button-50[type="button"] {
  padding: 10px 20px;
  position: absolute;
  margin-top: 15px;
}

.rules {
  background-color: #D9ACF5;
  border-radius: .6rem;
  padding: 30px 20px;
  line-height: 36px;
  font-family: 'Carter One', cursive;
}

h1 {
  font-family: 'Carter One', cursive;
  text-align: center;
}

h4 {
  font-family: 'Carter One', cursive;
  text-align: center;
}

.navbar a {
  box-shadow: inset 0 0 0 0 hotpink;
  margin: 0 .25rem;
  padding: 0 .25rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  color: black;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
}

.navbar a:hover {
  box-shadow: inset 100px 0 0 0 hotpink;
  color: #AAE3E2;
  cursor: pointer;
}

.button-wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 56px;
}


/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Righteous', cursive;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
